  #validateSurvey {
      padding: 2em;
  }

  .messageValidation {
      background: #ffffff;
      padding: 2em;
  }

  .messageValidation p {
      padding: 1em;
  }

  .messageValidation a {
      color: #233040;
      padding-left: 0.5em;
      font-size: 1.8em;
      font-weight: 700;
      text-decoration: none !important;
      font-size: 1.2em;
  }