/* CSS général back admin */
body{
    background:#233040;
}

*{
    font-family: 'Sen', sans-serif;
}

a:hover{
    cursor: pointer !important;
}

.container-fluid{
    padding:2em;
}

.left-nav{
    position: fixed;
    top:100px;
}

#backSurvey{
    height:100%;
}

.row#backSurvey {
    margin: auto !important;
}

#backSurvey .background {
     background: linear-gradient(110deg, #1db8f1, #1dbbbb);
}

#backSurvey .table .thead-light th {
    background: transparent !important;
    border-color: #2fcbd2 !important;
}
