.row#dashboard {
    min-height: 100vh;
}

#dashboard .background {
    background: -o-linear-gradient(340deg, #1db8f1, #1dbbbb);
    background: linear-gradient(110deg, #1db8f1, #1dbbbb);
}

#dashboard .table .thead-light th {
    background: transparent !important;
    border-color: #2fcbd2 !important;
}

.p-table {
    padding:2.5em;
}

.chartjs-render-monitor {
    -webkit-box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    border-radius: .25rem !important;
    margin-bottom: 3rem !important;
    padding: 1rem;
}

