.card-header {
    background: -o-linear-gradient(280deg, #1db8f1, #1dbbbb);
    background: linear-gradient(170deg, #1db8f1, #1dbbbb);
}

label {
    color: #474747;
}

.btn-primary {
    background: #474747;
    border: none;
}

.btn-primary:hover {
    background: #1DB8F1;
}

.card-body {
    padding: 4em;
}

.card-header {
    text-align: center;
}

.card-header img {
    width: 15rem;
}

.login nav {
    display: none;
}

main {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}