body {
    background-color: #233040;
}

* {
    font-family: 'Sen', sans-serif;
}

a:hover {
    cursor: pointer !important;
}

::-moz-selection {
    background-color: #233040;
    color: #ffffff;
}

::selection {
    background-color: #233040;
    color: #ffffff;
}

header {
    background: -o-linear-gradient(280deg, #1db8f1, #1dbbbb);
    background: linear-gradient(170deg, #1db8f1, #1dbbbb);
    padding: 1em;
}

.option-dotted {
    border: 2px dotted #dedede;
    padding: 1em;
    margin-top: 0.5em;
}

label {
    color: #233040;
    font-size: 1.2em;
    margin: 0;
}

/* Background pour le survey et la page réponse accès URL */

.background-survey h1 {
    color: #233040;
    padding-left: 0.5em;
    font-size: 1.8em;
    font-weight: 700;
}

.background-survey h2 {
    padding-top: 1em;
    font-size: 1.2em;
    font-weight: 700;
}

.background-survey p {
    margin: 0;
}

.table-hover tbody tr:hover {
    background-color: rgb(29 185 215 / 46%);
}


.nav-item{
    border-bottom: 2px solid transparent;
}

.nav-item:hover{
    border-bottom:2px solid #fff;
}


.active{
   background: #fff;
   box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
   border-radius: .25rem !important;
}

.active .text-white{
    color:#1db8eb !important;
}

@media screen and (max-width:981px){
    .m-2{
        margin: 0rem !important;
    }
}