img {
    width: 16rem;
}

ul {
    padding-top: 1em;
}

li a {
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 700;
    color: #212529;
}

li a:hover {
    color: #ffffff;
    text-decoration: none;
}