form {
    background: #ffffff;
}

input[type="text"],
select {
    border-color: rgb(255 255 255 / 30%);
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="radio"]~span {
    padding: 0px 15px;
}

#valider {
    width: 200px;
    margin: auto;
}

header img {
    width: 15rem;
}

/* Médias queries */
@media (min-width: 992px) {
    .container {
        max-width: 720px !important;
    }
}